<nav class="navbar navbar-expand navbar-dark bg-dark p-2">
    <NavLink class="navbar-brand" href="/">Extendable Data Scanner</NavLink>
    <NavLink class="nav-item nav-link" href="/instances">Application Instances</NavLink>
    <NavLink class="nav-item nav-link" href="/types">Application Types</NavLink>
    <NavLink class="nav-item nav-link" href="/stats">Stats</NavLink>
</nav>
