<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
	<!-- Add your custom configuration sections and parameters here -->

  <Section Name="Binding">
    <Parameter Name="ReceiverQueue" Value="" />
  </Section>
  <Section Name="ConnectionStrings">
    <Parameter Name="Mongo" Value="" />
  </Section>
  <Section Name="ImageToDbWriter">
    <Parameter Name="Database" Value="" />
    <Parameter Name="Collection" Value="" />
  </Section>
</Settings>